<html>
    <head>

        <title>
            Login
            </title>
            <link rel="stylesheet" type="text/css" href="css/style1.css">
        </head>
        <body>
            <div class="container2">
                <h1>Login</h1>
                <h3><%= msg %></h3>
            <form method="POST" class="form" action="/login">
                <input type="text" name="name" placeholder="Enter name" required><br>
                <input type="password" name="pwd" placeholder="Enter password" required><br>
                <button type="submit" name="btn" class="button"><span>Login</span></button>
            </form>
            </div>
            
            </body>
    </html>